@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.page {
  background: #fff;
  padding: 38px 0;
  font-family: "Arvo", serif;
}

.bg {
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  background-position: center;
  height: 398px;
}

.bg h1 {
  font-size: 78px;
}

.bg h3 {
  font-size: 78px;
}

.content_box {
  margin-top: -48px;
}

.link {
  display: inline-block;
  margin: 18px 0;
  padding: 8px 18px;
  background: #39ac31;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
